<!--The content below is only a placeholder and can be replaced.-->

<!-- 3.1 modify app-orbit-list ; 8.8 Pass the displayList to the orbit-list-component-->
<app-orbit-list [satellites]="displayList"></app-orbit-list>

<!-- 8.1 Add HTML-->
<div class="search-form">
  <!-- 8.2 Add an input element inside the div ;  8.3 Add keyup.enter-->
  <input #searchTerm (keyup.enter)= 'search(searchTerm.value)' type= 'text'>
  <!-- 8.4 Add a button element inside the div ; 8.5 Add an Angular click-->
  <button (click)= 'search(searchTerm.value)'>Search</button>
</div>
